<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="description" content="">
	<title>Knoldus Login Form</title>

<link rel="stylesheet" type="text/css" href="/css/reset.css" />
<link rel="stylesheet" type="text/css" href="/css/structure.css" />

<link rel="stylesheet"
	href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
 <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

</head>
<body>

<div id="content">

        <div id="menu">
          <fieldset class="">
            <ul class="menu">
              <li><label><a href="/index">
                           <span>Home</span>
                         </a></label></li>
              <li><label><a href="/about">
                           <span>About</span>
                         </a></label></li>
              <li><label><a href="/user">
                           <span>Profile</span>
                         </a></label></li>
              <li><label><a href="/services">
                           <span>Services</span>
                         </a></label></li>
              <li><label><a href="/contact">
                           <span>Contact</span>
                         </a></label></li>
            </ul>
          </fieldset>
        </div>
</div>
</body>
</html>
